*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../img/TRAIN.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100vh;


}
/* UTILITIES */
.container{
    max-width: 1170px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
    
}
.row{
    display: flex;
    justify-content: center;
}
.col-100{
    color: white;
    
    
}
.container-form{
    background-color: rgb(185, 241, 249);
    max-width: 1170px;
    margin: 0 auto;
    border-radius: 20px;
    border: 3px solid rgb(27, 92, 9);
    

   
}
.row-form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
    

}
.col-33{
    width: calc(100%/3 - 40px);
    text-align: center;
    margin: 20px 0;
}
.col-33 p{
    color: rgb(27, 92, 9);
    margin-bottom: 10px;
}
.input{
    text-align: center;
    border-color: rgb(27, 92, 9);
    padding: 5px 20px;
    border-radius: 20PX;
}
#button{
    padding: 5px 10px;
    font-weight: 900;
    color: rgb(27, 92, 9);
    background-color: white;
    border: 1px solid rgb(27, 92, 9);
    border-radius: 5px;
    
}
#button_anulla{
    padding: 5px 10px;   
    font-weight: 900;
    color: rgb(27, 92, 9);
    border: 1px solid rgb(27, 92, 9);
    border-radius: 5px;
    background-color: white;
    
}
select{
    color: rgb(27, 92, 9);
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(27, 92, 9);
}
.row-ticket{
    width: 100%;
    display: flex;
    padding: 20px;

}
.col-30{
    width: 30%;
    background-color: rgb(193, 67, 21);
    

}
.col-70{
    width: 70%;
    display: flex;
    border-top: 2px solid rgb(27, 92, 9);
    border-bottom: 2px solid rgb(27, 92, 9);
    border-right: 3px dotted rgb(27, 92, 9);

}
.content{
    margin: 20px;
    

}
.col-25{
    width: 25%;
    border-left: 3px dotted rgb(27, 92, 9);

}
.col-25 p{
    padding: 40px 0 20px 0;

}


